{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('modules/dimrdv/views/css/back/dimrdv.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('modules/dimrdv/views/js/back/dimrdv.js') }}"></script>
{% endblock %}

{% block content %}
    <h2>{{ 'Gestion des RDV'|trans({}, 'Modules.Dimrdv.Admin') }}</h2>

    <form method="post" action="{{ path('admin_dimrdv_itinerary_index') }}">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'ID'|trans({}, 'Modules.Dimrdv.Admin') }}</th>
                    <th>{{ 'Nom'|trans({}, 'Modules.Dimrdv.Admin') }}</th>
                    <th>{{ 'Prénom'|trans({}, 'Modules.Dimrdv.Admin') }}</th>
                    <th>{{ 'Adresse'|trans({}, 'Modules.Dimrdv.Admin') }}</th>
                    <th>{{ 'Ville'|trans({}, 'Modules.Dimrdv.Admin') }}</th>
                    <th>{{ 'Téléphone'|trans({}, 'Modules.Dimrdv.Admin') }}</th>
                    <th>{{ 'Email'|trans({}, 'Modules.Dimrdv.Admin') }}</th>
                    <th>{{ 'Sélection'|trans({}, 'Modules.Dimrdv.Admin') }}</th>
                </tr>
            </thead>
            <tbody>
                {% if rdvs %}
                    {% for row in rdvs %}
                        <tr>
                            <td>{{ row.id_dim_rdv|escape }}</td>
                            <td>{{ row.lastname|escape }}</td>
                            <td>{{ row.firstname|escape }}</td>
                            <td>{{ row.address|escape }}</td>
                            <td>{{ row.city|escape }}</td>
                            <td>{{ row.phone|escape }}</td>
                            <td>{{ row.email|escape }}</td>
                            <td>
                                <input type="checkbox" name="selected[]" value="{{ row.id_dim_rdv|escape }}" />
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">{{ 'Aucun RDV trouvé'|trans({}, 'Modules.Dimrdv.Admin') }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <button type="submit" name="generate_itinerary" class="btn btn-primary">{{ 'Générer itinéraire'|trans({}, 'Modules.Dimrdv.Admin') }}</button>
    </form>
{% endblock %}